
body{
    background-color: #778ca3;
    background-position: center center;
    background-attachment: cover;
}

#uno{
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d1d8e0;
    height: 8%;
    border-radius: 15%;
    padding: 3%;
    color: black;
    font-size: 30px;
    font-weight: 15px;
    font-family: Helvetica;
    display: table;
}
#next{
    margin: 5px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
    background: red;
    border-radius: 30%;
    padding: 3%;
    color: green;
    font-size: 20px;
    font-family: Helvetica;
}